<!DOCTYPE html>
<html lang="en" ng-app="doctalk">
<head>
	<meta charset="utf-8">
	<title>Comentemos - La reforma educativa</title>
	<link rel="stylesheet" href="static/managed/bootstrap.css/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/app.css">
	<script src="static/managed/angular/angular.js"></script>
	<script src="static/managed/angular-resource/angular-resource.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/controllers.js"></script>
	<script src="static/js/services.js"></script>
</head>
<body ng-controller="DocumentCtrl">
	<div class="container-fluid">
		<div class="row-fluid">
			<div id='document' class='span8'>
				<h1>{{doc.title}}</h1>
				<p>
					Documento original:
					<a href="{{doc.reference}}">{{doc.reference}}</a>
				</p>
				<div class="doc-unit" ng-repeat='part in doc.parts'>
					<div class='content' 
						ng-click="activateParagraph($index+1)" 
						ng-class="(($index+1 == activeParagraph.id) && 'active' || ' ')">
						<p ng-repeat="paragraph in part.paragraphs">{{paragraph}}</p>
					</div>
				</div>
			</div>
			<div id="sidebar" class="span4">
				<div class="newComment" ng-show="activeParagraph.isActive()">
					<p>
						Nombre:
						<input type='text' ng-model="commenterName" />
					</p>
					<p>
						Comentario:
						<input type='text' ng-model="comment" />
					</p>
					<p>
						<button ng-click="addComment()">Comenta</button>
					</p>
				</div>
				<div class="comments" ng-repeat="comment in activeParagraph.comments">
					<div class="comment first">
						<p> <strong>{{comment.user}}</strong>
							{{comment.comment}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>