<!DOCTYPE html>
<html lang="en"  xmlns:ng="http://angularjs.org" id="ng-app" ng-app="doctalk">
<head>
	<meta charset="utf-8">
	<title>Comentemos</title>
	<link rel="stylesheet" href="static/managed/bootstrap.css/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/app.css">
</head>
<body>
	<a href="la/reforma-energetica">La reforma energetica</a>
</body>
</html>
