.doc-unit p {
	text-align : justify;
	padding-left: 20px;
	padding-right: 20px;
}

.doc-unit > div.content {
	cursor : pointer;
	margin-top:15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-right: 5px solid #e1e1e1;
}

div.doc-unit > div.content:hover, 
div.doc-unit > div.content.active {	
	border-right: 5px solid #ffce40; 
	background: #ffdb73;
}

#sidebar {
	position: fixed;
    top: 1em;
    right: 1em;
    margin-top: 30px;
}

#sidebar div.comment.first {
	border-top: 1px solid #e1e1e1;
}

#sidebar div.comment {
	border-bottom: 1px solid #e1e1e1;
	background: #f0f0f0;
	margin-bottom: 5px;
}

#sidebar div.comment p {
	font-family: tahoma,​verdana,​arial,​sans-serif;
	font-size: 11px;
	text-align : justify;
	padding-left: 10px;
	padding-right: 10px;
}