.doc-unit p {
	text-align : justify;
	padding-left: 20px;
	padding-right: 20px;
}

.doc-unit > div.content {
	cursor : pointer;
	margin-top:15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-right: 5px solid #e1e1e1;
}

div.doc-unit > div.content:hover,
div.doc-unit > div.content.active {
	border-right: 5px solid #ffce40; 
}

div.doc-unit > div.content:hover {
	background: #FFF89F;	
}

div.doc-unit > div.content.active {	
	background: #ffdb73;
}

.button-load-parts {
	cursor: pointer;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.button-load-parts:hover {
	text-decoration: underline;
}

#sidebar {
    margin-top: 95px;
}

#footer {
	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(119, 119, 119);
}

#header {
	background-color: #333333;
	height: 34px;
	padding-top: 15px;
}

#header a {
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}
#header a:hover {
	text-decoration: underline;
}

#document h1 a {
	color: #333333;
}