.doc-unit p {
	text-align : justify;
	padding-left: 20px;
	padding-right: 20px;
}

.doc-unit > div.content {
	cursor : pointer;
	margin-top:15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-right: 5px solid #e1e1e1;
}

div.doc-unit > div.content:hover,
div.doc-unit > div.content.active {
	border-right: 5px solid #ffce40; 
}

div.doc-unit > div.content:hover {
	background: #FFF89F;	
}

div.doc-unit > div.content.active {	
	background: #ffdb73;
}

.button-load-parts {
	cursor: pointer;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.button-load-parts:hover {
	text-decoration: underline;
}

#sidebar {
	position: fixed;
    top: 1em;
    right: 1em;
    margin-top: 30px;
}

.test-system-warning {
    background-color: #ffce40;
    color: black;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 4000;
}