<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="doctalk">
<head>
	<meta charset="utf-8">
	<title>Comentemos</title>
	<link rel="stylesheet" href="static-managed/bootstrap.css/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/app.css">
	<script src="/static-managed/angular/angular.min.js"></script>
	<script src="/static-managed/angular-resource/angular-resource.min.js"></script>
	<script src="/static-managed/angular-route/angular-route.min.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
	<script src="/static/js/services.js"></script>
	<!--[if lte IE 8]>
	<script src="static/managed/json2/json2.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=243129069173087";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div ng-view></div>
</body>
</html>
