<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="doctalk">
<head>
	<meta charset="utf-8">
	<title>Comentemos</title>
	<link rel="stylesheet" href="static-managed/bootstrap.css/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/app.css">
	<script src="/static-managed/angular/angular.js"></script>
	<script src="/static-managed/angular-resource/angular-resource.js"></script>
	<script src="/static-managed/angular-route/angular-route.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
	<script src="/static/js/services.js"></script>
	<!--[if lte IE 8]>
	<script src="static/managed/json2/json2.js"></script>
	<![endif]-->
</head>
<body>
	<div class="test-system-warning">
		Prototipo en version de prueba. Los comentarios permanecer&aacute;n de manera temporal en el sistema y ser&aacute;n eliminados en la siguiente actualizaci&oacute;n.
	</div>
	<div ng-view></div>
</body>
</html>
